.Ellipse1 {
  width: 59px;
  height: 59px;
  background: rgb(230, 135, 19);
  border-radius: 9999px;
  text-align: center;
  color: white;
  font-size: 12.24px;
  font-family: Poppins;
  font-weight: 600;
  word-wrap: break-word;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Perswell {
  text-align: center;
  color: #1f1f1f;
  font-size: 16.32px;
  font-family: Poppins;
  font-weight: 600;
  word-wrap: break-word;
}

.InvestInWhatMattersYourPeople {
  color: #1f1f1f;
  font-size: 9.52px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
}

.headers {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 25px 0;
}

.centerbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

/* login screen */
.login_screen {
  height: 100vh;
}


.WelcomeToPerswell {
  text-align: center;
  color: #1f1f1f;
  font-size: 35px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
  padding: 60px 0 20px;
}

.Rectangle {
  width: 55%;
  margin: 10px auto;
  background: #fde5c7;
  border-radius: 20px;
  border: 3px solid #FFFFFF;
  padding: 30px 10px;
}

.loginform {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.formheading {
  text-align: center;
  color: #1F1F1F;
  font-size: 25px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
  line-height: 37.5px;
  padding: 20px 0px;
}

input::-webkit-input-placeholder {
  font-family: 'roboto', sans-serif;
  transition: all 0.3s ease-in-out;
  color: #1F1F1F;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
}


input {
  width: 100%;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px black;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, black 4%);
  background-position: -400px 0;
  background-size: 400px 100% !important;
  background-repeat: no-repeat;
  color: black;
  text-indent: 10px;
}

input:focus {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}

input:focus::-webkit-input-placeholder {
  color: black;
  font-size: 10px;
  transform: translateY(-20px);
  visibility: visible !important;
}

.submitbutton {
  width: 150.25px;
  height: 40.9px;
  background: #E68713;
  border-Radius: 41.7px;
  font: 13.36px;
  color: #FFFFFF;
  line-height: 20.03px;
  font-weight: 600px;
  font-family: Poppins;
  margin-top: 50px;
}

.submitbutton:hover {
  color: #E68713;
  border: 1px solid #E68713;
  background: #FFFFFF;
}
.submitbutton:focus {
  outline: 0;
  box-shadow: none !important;
}
.submitbutton:focus-visible {
  outline: none !important;
}


/* new css  */
.logo_img {
  width: 233px;
  height: auto;
}

.errorText {
  font-weight: 400;
  color: red;
  font-size: 14px;
  font-family: Poppins;
  margin: 5px 25px;
}

.pwd_icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

/* Meadia query start */
@media (min-width: 992px) and (max-width: 1200px) {
  .Rectangle {
    width: 70%;
  }
}

@media  (max-width: 993px) {
  .Rectangle {
    width: 100%;
  }
  .login_screen {
    padding:0 10px;
  }
}

@media (max-width: 768px) {
  .WelcomeToPerswell {
    font-size: 24px;
    padding: 30px 0 10px;
  }
  .formheading {
    font-size: 20px;
    padding:0px 0px;
  }
  
}

@media (max-width: 1000px) {

  .custom_input {
    width: 100%;
  }

  .login_screen {
    height: auto;
  }
}

@media (min-width: 370px) and (max-width: 670px) {}