.dashboard_section {
  height: 100vh;
}

.left_section {
  /* width: 20%; */
  background-color: linear-gradient(
    133deg,
    rgba(252, 208, 154, 1),
    rgba(253, 244, 233, 1)
  ) !important;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px;
  height: 100vh;
  background: #000;
  font-family: Quicksand;
}

.right_section {
  width: 100%;
  background: #ffffff !important;
}

.logo_svg {
  width: 170px;
  height: auto;
}

.left_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.left_menu span {
  cursor: pointer;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 8px;
  text-decoration: none;
  padding: 10px 5px;
  padding-left: 15px;
  gap: 12px;
  font-family: Quicksand;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  white-space: nowrap;
  margin: 10px 15px;
}

.menu_links {
  color: #fff;
}

.active {
  color: black !important;
  background-color: #fff;
  transition: width 5s ease-in-out 0.2s;
  text-align: center;
}

/* .menu_links:hover {
    color: black !important;
    font-weight: 700;
    padding: 20px 20px;
    background-color: #f6c78e;
    padding: 20px 20px;
} */

.icon_img {
  transform: rotate(-90deg);
}

/* right section */

.user_name {
  color: #1f1f1f;
  font-size: 17px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 18px;
  white-space: nowrap;
  margin-top: 3px;
  position: absolute;
  top: 30px;
  right: 40px;
}

/* 12-07 */
.top_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  box-shadow: 0px 0px 9.388955116271973px 0px rgba(0, 0, 0, 0.11);
  padding: 5px 20px;
  height: 70px;
}
.top_section h6 {
  color: #000;
  text-align: center;
  font-family: Quicksand;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* dashboard home page */
.dashboard_main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.welcome {
  color: #000;
  text-align: center;
  font-family: Quicksand;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  white-space: nowrap;
}

.heading {
  color: #000;
  text-align: center;
  font-family: Quicksand;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  white-space: nowrap;
  padding-bottom: 30px;
}

.dashboard_img {
  width: 55%;
  margin: 0 auto;
}

.dashboard_section svg{
  height: 20px !important;
  width: 20px !important;
}
@media (min-width: 992px) and(max-width: 1024px) {
  .heading {
    font-size: 34px;
    line-height: 24.7px;
    /* white-space: normal; */
    padding: 10px 10px;
  }

  .left_section {
    padding: 10px 10px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .right_section {
    width: 93%;
    height: auto;
    margin-left: auto;
    height: 100vh;
  }

  .left_section {
    display: none;
  }

  .mobile_left_section {
    background-color: f6c78e !important;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px;
  }
  .top_section {
    height: 70px;
    padding: 10px;
  }
  .graph_main .top_section {
    flex-direction: column;
    height: 100px;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .heading {
    color: white;
    font-size: 24px;
    line-height: 24.7px;
    white-space: normal;
  }
  .dashboard_main {
    height: 80vh;
  }
}

@media (max-width: 551px) {
  .top_section {
    padding: 5px 10px;
  }
  .right_section {
    width: 90%;
    height: 100vh;
    margin-left: auto;
  }
}
@media (max-width: 420px) {
  .right_section {
    width: 100%;
    margin-left: auto;
    padding-top: 30px;
    background-color: #ffffff !important;
  }
  .top_section {
    padding: 5px 10 px;
  }
  .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
  }
}
