.header_main {
  height: 114px;
  background: #000;
}
.header_main .list_items a {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  text-transform: capitalize;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none !important;
}

li.nav-item.list_items.px-3:last-child {
  transition: 600ms !important;
}

li.nav-item.list_items.px-3:last-child:hover {
  transform: rotate(360deg);
}

a.nav-link:after {
  display: block;
  content: '';
  border-bottom: solid 1px #fff;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}


a.nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: 0% 50%;
}


/*------- meadia query -------*/
@media (max-width: 767px) {
  .responsive_drawer {
    background: black;
    height: 65vh;
  }

  .responsive_drawer ul {
    margin-top: 15px;
  }

  .header_main .list_items {
    padding: 20px 10px;
    text-align: center;
  
  }

  .header_main .list_items:hover.list_items a {
    border-bottom: 1px solid #fff;
    transition: ease-in-out;
    transition-property: all;
    transition-duration: 3s;
    transition-delay: 1ms;
  }
}

